body {
  background-color:dimgrey;
  margin:0;
  color: #DDD;
  font-family: "verdana";
}

a {
  color: #666;
}

#content {
  text-align:center;
}

h1 {
  margin:0;
  text-shadow: #444 10px 10px 2px;
  margin-bottom: 10px;
  font-weight:normal;
}

canvas {
  cursor:crosshair;
}

.wrapper {
  display: inline-block;
  position: relative;
  border-radius:10px;
  -webkit-box-shadow: 10px 10px 5px #444;
  -moz-box-shadow: 10px 10px 5px #444;
  overflow: hidden;
  box-shadow: 10px 10px 5px #444;
  padding: 0;
  margin-bottom: 20px;
}

.bottom-panel {
  margin-top: -3px;
  padding: 20px 0 10px 0;
  background-color: rgba(255,255,255,0.8);
  color: #333;
}

#debug {
  position:absolute;
  right: 10px;
  background-color: rgba(0,0,0,0.5);
  color: #ddd;
  border: 2px solid grey;
}

.reference {
  display: inline-block;
  width: 600px;
  font-size: 80%;

}
.reference .publication {
  font-style: italic;
}