body {
  margin: 0;
  background-color: #123;
  color: #60b4f1;
  font-family: Orbitron;
  font-size: 16px;
  line-height: 24px;
}
a {
  color: #60b4f1;
  font-family: Orbitron;
  text-decoration: none;
}
h1 a {
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 10px;
}

h1 {
  margin: 0 0 100px 0px;
  padding: 28px 10px 10px 10px;
  font-size: 28px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
}

header h1 {
  border-radius: 0 0 10px 10px;
}

footer h1 {
  border-radius: 10px 10px 0 0;
}

a:hover {
  color: yellow;
}
a img {
  border: 0;
}
#gallery {
  /*outline: 1px solid  lime;*/
  width: 890px;
  margin: auto;
  margin-top: 0;
  position: relative;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
}
.thumb-container {
  /*display: none;*/
  height: 256px;
  /*float: left;*/
  margin-bottom: 100px;
}

.thumb {
  z-index: 10;
  position: relative;
  float: left;
  display: block;
  width: 256px;
  height: 256px;
  /*  margin-right: 20px;
  margin-bottom: 20px;*/
  background-color: #000;
  border: 10px solid rgba(0, 0, 0, 0.5);
  border-color: rgba(0,0,0,0.5);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.thumb + .thumb
{
  margin-left: 30px;
}

.thumb a {
  color: yellow;
}

.title {
  position: absolute;
  display: block;
  margin: auto;
  margin-top: -19px;
  top: 85%;
  font-size: 24px;
  text-align: center;
  padding: 5px 0 0px 0;
  width: 256px;
  padding: 10px 0 5px 0;
  color: rgba(96, 128, 240, 0);
  background-color: rgba(0, 0, 0, 0);
  color: yellow;
  background-color: rgba(0, 16, 32, 0.8);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: color, background-color;
  -webkit-transition-duration: 0.5s;

}

.desc {
  background-color: "#000"
  border-color: rgba(0,0,0,0.5);
}

.thumb img {
  border-radius: 10px;
  width: 256px;
}
.twitter-link {
  float: right;
  font-size: 80%;
}

#pxxl img {
  -webkit-transform: rotatez(10deg);
  -moz-transform: rotate(10deg);
  margin-left: -10px;
  margin-top: 74px;
  width: 110%;
}

#rgb2 img
{
  margin-top: 7px;
  border-radius:0;
}

#c
{
  position: fixed;
}

#retrofyme img {
  width: 370px;
}

#q42 img {
  width: 176px;  
  margin:auto;
  display:block;
}

nav { font-size: 20px }

footer h1 {
    margin-top: 100px;
    margin-bottom: 0px;
    padding-top: 14px;
}

footer nav {
    margin-bottom: 22px;
}
