.voxel-shape-container {
    position: relative;
    width: 512px;
    height: 256px;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1500px;
    -webkit-perspective-origin: top right;
    -webkit-transform: translateZ(0);
    xoutline: 1px solid red;
}

.voxel-shape
{
  position: absolute;
  -webkit-transform-style: preserve-3d;

  x-webkit-transform: rotate3d(-1,1, 0, 20deg);
}

.voxel {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;

}

.voxel-side
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.1);
  outline: 1px solid rgba(0,0,0,0.4);
  x-webkit-backface-visibility:hidden;
}
